@import url("https://fonts.googleapis.com/css?family=Raleway&family=Inconsolata:wght@200");

@import './colors.scss';

html {
	background-color: $quaternaryColor;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Raleway, sans-serif;
}
.App {
	font-weight: bold;
	background-color: $quaternaryColor;
	color: rgb(26, 26, 26);
	.container {
		width: 95%;
	}
}
div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	button {
		flex-grow: 1;
		padding: 0;
		margin: 0;
		&:hover {
			background-color: $tertiaryColor;
			color: rgb(227, 248, 255);
		}
	}
}
h1,
h2 {
	text-shadow: 1px 1px 1px rgb(26, 26, 26), 1px -1px 1px rgb(26, 26, 26), -1px 1px 1px rgb(26, 26, 26),
		-1px -1px 1px rgb(26, 26, 26);
	width: 100%;
	text-align: center;
}
h1,
h2,
h3 {
	font-family: Raleway, sans-serif;
}
h1 {
	color: $quaternaryColor;
	position: relative;
	top: 0;
	margin-top: -60px;
	padding-bottom: 25px;
}
h2 {
	color: $secondaryColor;
}
h3, p {
	color: rgb(26, 26, 26);
}
p {
	font-family: Inconsolata;
	font-weight: 100;
}
.container button {
	border-radius: 5px;
	margin: 3%;
	border: 1px solid #4378b0;
	background-color: $secondaryColor;
	box-shadow: 1px 1px 3px $tertiaryColor, 1px -1px 3px $tertiaryColor, -1px 1px 3px $tertiaryColor, -1px -1px 3px $tertiaryColor;
}
.skyBanner {
	width: 100vw;
	height: 100px;
	object-fit: cover;
}
.forecastsContainer,
.chartsContainer,
.newsContainer,
.googleLoginContainer,
.commentsContainer {
	background-color: $tertiaryColorTransparency;
	border-radius: 25px;
	box-shadow: 1px 1px 3px $tertiaryColorTransparency, 1px -1px 3px $tertiaryColorTransparency, -1px 1px 3px $tertiaryColorTransparency, -1px -1px 3px $tertiaryColorTransparency;
	padding: 0 2%;
	margin: 1% 0;
	align-items: space-around;
}
.chartContainer {
	width: 90%;
	height: 50vh;
	margin: auto;
	background-color: $quaternaryColor;
	border-radius: 10px;
	border: 2px solid #437ebd;
	box-shadow: 1px 1px 10px $tertiaryColor, 1px -1px 10px $tertiaryColor, -1px 1px 10px $tertiaryColor, -1px -1px 10px $tertiaryColor;
	margin: 1% 0;
}
.imgContainer {
	display: flex;
	justify-content: center;
}
.weatherDisplay,
.newsArticles {
	overflow-x: scroll;
	scrollbar-width: hidden;
	justify-content: start;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #225387;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #114071;
}
.weatherDisplay,
.newsArticles,
.articleComments {
	flex-direction: row;
	background-color: #b0ceef;
	border-radius: 10px;
	border: 2px solid #437ebd;
	box-shadow: 1px 1px 10px $tertiaryColor, 1px -1px 10px $tertiaryColor, -1px 1px 10px $tertiaryColor, -1px -1px 10px $tertiaryColor;
	margin: 1% 0;
}
.newsArticles,
.articleComments {
	background-color: $quaternaryColor;
}
.articleContainer {
	width: 200px;
	padding: 3%;
	img {
		border: 2px solid $secondaryColor;
	}

}
.articleContainer:nth-child(2n),
.articleComments:nth-child(2n) {
	background-color: $secondaryColor;
	img {
		border: 2px solid $quaternaryColor;
	}
}
.articleContainer:hover,
.articleComments:hover {
	background-color: $primaryColor;
}
.hourContainer,
.dayContainer {
	padding: 1rem;
}
.dayContainer0,
.hourContainer0 {
	background-color: $primaryColor;
}
.hourContainerNewDay {
	background-color: $quinaryColor;
}
.dayName {
	text-align: center;
	color: rgb(82, 82, 82);
}
.temps {
	flex-direction: row;
	justify-content: space-between;
}
.tempMin {
	color: rgb(82, 82, 82);
	text-align: center;
}
.tempMax {
	color: rgb(41, 41, 41);
	text-align: center;
}
.description,
.wind,
.dewPoint,
.humid {
	color: rgb(82, 82, 82);
	text-align: center;
}
.dewPoint,
.humid {
	font-size: 0.5rem;
}
a {
	color: #0a335f;
	text-decoration: none;
	text-align: center;
	width: 100%;
	border: 1px solid #4378b0;
	background-color: $secondaryColor;
	box-shadow: 1px 1px 3px $tertiaryColor, 1px -1px 3px $tertiaryColor, -1px 1px 3px $tertiaryColor, -1px -1px 3px $tertiaryColor;
}
.articleContainer:nth-child(2n) a {
	background-color: $quaternaryColor;
}
.articleContainer:nth-child(2n) a:hover {
	background-color: $tertiaryColor;
}
a:hover, .container button:not(.fontIcon):hover {
	border: 1px solid #4378b0;
	background-color: $tertiaryColor;
	box-shadow: 1px 1px 3px $secondaryColor, 1px -1px 3px $secondaryColor, -1px 1px 3px $secondaryColor, -1px -1px 3px $secondaryColor;
	color: rgb(227, 248, 255);
}
a:hover {
	text-shadow: 1px 1px 1px #0a335f, -1px 1px 1px #0a335f, 1px -1px 1px #0a335f, -1px -1px 1px #0a335f;
}
.title {
	height: 18rem;
	justify-content: space-between;
	img {
		width: 190px;
		height: fit-content;
		max-height: 100px;
		overflow-y: hidden;
	}
	h3 {
		overflow: hidden;
		height: 10rem;
	}
}
.content {
	overflow: hidden;
	height: 10rem;
}
.container .fontIcon {
	color: $tertiaryColor;
	background: none;
	border: 1px solid rgba(255, 0, 0, 0);
	box-shadow: none;
}

// comments
.commentContainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	h3 {
		margin-left: 0.5rem;
	}
	p {
		flex-grow: 1;
		margin-left: 0.5rem;
	}
	img {
		height: 30px;
		width: 30px;
	}
} 

@media only screen and (min-width: 800px) {
	.App {
		width: 98%;
		margin: auto;
	}
	.App .container {
		width: 90%;
	}
}
@media only screen and (min-width: 1000px) {
	.App {
		width: 98%;
		margin: auto;
		.container {
			width: 900px;
		}
	}
}
@media only screen and (max-width: 600px) {
	.App {
		height: auto;
		height: auto;
	}
	.weatherDisplay {
		flex-direction: row;
	}
	.hourContainer,
	.dayContainer {
		border: 1px solid lightgrey;
		width: 100px;
	}
}
