$primaryColor: #84b7ed;
$primaryColorBrighter: #95c8ff;
$secondaryColor: #ffffe4;
$tertiaryColor: #626d81;
$tertiaryColorTransparency: #626d8133;
$tertiaryColorTransparency2: #626d814f;
$quaternaryColor: #edf1f2;
$quinaryColor: #97acc0;
$quinaryColorBrighter: #bdcfde;
$senaryColor: #c8d4d7;
$septenaryColor: #b0ceef;
$septenaryColorBrighter: #cae3ff;
$octonaryColor: #69ffe9;
$threadsHighlight: #98ff98;
$threadsLowlight: #67a167;
$fontPrimaryColor: #1a1a1a;

//dark mode
$primaryColorDark: #0e4f95;
$primaryColorBrighterDark: #368ee5;
$secondaryColorDark: #211e24;
$tertiaryColorDark: #182236;
$tertiaryColorTransparencyDark: #a6b9db33;
$tertiaryColorTransparency2Dark: #a3b5d64f;
$quaternaryColorDark: #14181a;
$quinaryColorDark: #181c1f;
$quinaryColorBrighterDark: #6c757d;
$senaryColorDark: #363f41;
$septenaryColorDark: #0c233b;
$septenaryColorBrighterDark: #153e6b;
$octonaryColorDark: #3a867b;
$threadsHighlightDark: #115222;
$threadsLowlightDark: #073307;
$fontPrimaryColorDark: #f5fbff;
$fontSecondaryColorDark: #c7cfd3;
$fontTertiaryColorDark: #5ba1eb;