$primaryColor: #84b7ed;
$primaryColorBrighter: #95c8ff;
$secondaryColor: #ffffe4;
$tertiaryColor: #626d81;
$tertiaryColorTransparency: #626d8133;
$tertiaryColorTransparency2: #626d814f;
$quaternaryColor: #edf1f2;
$quinaryColor: #97acc0;
$quinaryColorBrighter: #bdcfde;
$senaryColor: #c8d4d7;
$septenaryColor: #b0ceef;
$septenaryColorBrighter: #cae3ff;
$octonaryColor: #69ffe9;
$threadsHighlight: #98ff98;
$threadsLowlight: #67a167;
$fontPrimaryColor: #1a1a1a;

//dark mode
$primaryColorDark: #4d6c8d;
$primaryColorBrighterDark: #6387ac;
$secondaryColorDark: #56505b;
$tertiaryColorDark: #50555e;
$tertiaryColorTransparencyDark: #a6b9db33;
$tertiaryColorTransparency2Dark: #a3b5d64f;
$quaternaryColorDark: #303b3e;
$quinaryColorDark: #39434c;
$quinaryColorBrighterDark: #6c757d;
$senaryColorDark: #5b6264;
$septenaryColorDark: #536374;
$septenaryColorBrighterDark: #738190;
$octonaryColorDark: #3a867b;
$threadsHighlightDark: #5e9b5e;
$threadsLowlightDark: #3d5e3d;
$fontPrimaryColorDark: #f5fbff;
$fontSecondaryColorDark: #c7cfd3;
$fontTertiaryColorDark: #5ba1eb;