$primaryColor: #84b7ed;
$primaryColorBrighter: #95c8ff;
$secondaryColor: #ffffe4;
$tertiaryColor: #626d81;
$tertiaryColorTransparency: #626d8133;
$tertiaryColorTransparency2: #626d814f;
$quaternaryColor: #edf1f2;
$quinaryColor: #97acc0;
$quinaryColorBrighter: #bdcfde;
$senaryColor: #c8d4d7;
$septenaryColor: #b0ceef;
$septenaryColorBrighter: #cae3ff;