html {
	background-color: #edf1f2;
	overflow-y: scroll;
	overflow-x: hidden;
}
.App {
	display: flex;
	font-weight: bold;
	flex-direction: column;
	background-color: #edf1f2;
	color: rgb(26, 26, 26);
}
div {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.chartContainer {
	width: 90%;
	height: 50vh;
	margin: auto;
}
button {
	border-radius: 5px;
	margin: 1%;
	border: 1px solid #4378b0;
	background-color: #ffffe4;
	box-shadow: 1px 1px 3px #626d81,
	1px -1px 3px #626d81,
	-1px 1px 3px #626d81,
	-1px -1px 3px #626d81;
}
.skyBanner {
	width: 100vw;
	height: 100px;
	object-fit: cover;
	/* overflow: hidden; */
}
.title img {
	width: 190px;
	height: fit-content;
}
.imgContainer {
	display: flex;
	justify-content: center;
}
.weatherContainer, .articlesContainer {
	display: flex;
	flex-direction: column;
	/* border: 1px solid rgb(161, 193, 199); */
	/* border-radius: 10px; */
}
.weatherDisplay, .newsArticles {
	overflow-x: scroll;
	scrollbar-width: hidden;
	justify-content: start;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #225387;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #114071;
}
.weatherDisplay, .newsArticles {
	display: flex;
	flex-direction: row;
	/* border: 1px solid rgb(161, 193, 199); */
	background-color: #b0ceef;
	border-radius: 10px;
	border: 2px solid #437ebd;
	box-shadow: 1px 1px 10px #626d81,
	1px -1px 10px #626d81,
	-1px 1px 10px #626d81,
	-1px -1px 10px #626d81;
	margin: 1% 0;
}
.newsArticles {
	background-color: #edf1f2;
}
.articleContainer:nth-child(2n) {
	background-color: #ffffe4;
}
.articleContainer:hover {
	background-color: #84b7ed;
}
.hourContainer, .dayContainer {
	padding: 1rem;
}
.dayContainer0, .hourContainer0 {
	background-color: #84b7ed;
}
.dayName {
	text-align: center;
	color: rgb(82, 82, 82);
}
.temps {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.tempMin {
	color: rgb(82, 82, 82);
	text-align: center;
}
.tempMax {
	color: rgb(41, 41, 41);
	text-align: center;
}
.description, .wind, .dewPoint, .humid {
	color: rgb(82, 82, 82);
	text-align: center;
}
.dewPoint, .humid {
	font-size: 0.5rem;
}

.newsArticles {
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
}

p {
	width: 100%;
	text-align: center;
}
a {
	color: #0a335f;
	text-decoration: none;
}
a:hover {
	color: rgb(227, 248, 255);
	text-shadow: 1px 1px 1px #0a335f,
	-1px 1px 1px #0a335f,
	1px -1px 1px #0a335f,
	-1px -1px 1px #0a335f;
}
.articleContainer {
	width: 200px;
	padding: 3%;
	/* border: 1px solid rgb(112, 151, 157); */
	/* border-radius: 10px; */
}

.title {
	height: 21rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title h2 {
	overflow: hidden;
	height: 10rem;
}

/* .title h2::after {
	content: '..';
} */

.content {
	overflow: hidden;
	height: 15rem;
}

@media only screen and (min-width: 800px) {
	.App{
		width: 98%;
		margin: auto;
	}
}
@media only screen and (max-width: 600px) {
	.App {
		height: auto;
		height: auto;
	}
	.weatherDisplay {
		flex-direction: row;
		/* flex-wrap: wrap; */
	}
	.hourContainer, .dayContainer {
		border: 1px solid lightgrey;
		width: 100px;
	}
}