.App {
	display: flex;
	/* height: 100vh; */
	/* width: 100vw; */
	font-weight: bold;
	flex-direction: column;
	background-color: rgb(242, 242, 242);
	color: rgb(26, 26, 26);
}
div {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
/* .temps, .day, .hour {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
button {
	border-radius: 5px;
	margin: 1%;
}
.title img {
	width: 190px;
	height: fit-content;
}
.imgContainer {
	display: flex;
	justify-content: center;
}
.weatherDisplay, .newsArticles {
	display: flex;
	flex-direction: row;
	border: 1px solid lightgray;
}
.hourContainer, .dayContainer {
	padding: 1rem;
}
.dayContainer0, .hourContainer0 {
	background-color: lightgray;
}
.dayName {
	text-align: center;
	color: gray;
}
.temps {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.tempMin {
	color: gray;
	text-align: center;
}
.tempMax {
	color: rgb(41, 41, 41);
	text-align: center;
}
.description, .wind, .dewPoint, .humid {
	color: grey;
	text-align: center;
}
.dewPoint, .humid {
	font-size: 0.5rem;
}

.newsArticles {
	/* flex-direction: row; */
	flex-wrap: wrap;
}

p {
	width: 100%;
}

.articleContainer {
	width: 200px;
	padding: 1%;
	border: 1px solid lightgray;
}

.title {
	height: 21rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title h2 {
	overflow: hidden;
	height: 10rem;
}

/* .title h2::after {
	content: '..';
} */

.content {
	overflow: hidden;
	height: 15rem;
}

@media only screen and (max-width: 600px) {
	.App {
		height: auto;
		height: auto;
	}
	.weatherDisplay {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
	.hourContainer, .dayContainer {
		border: 1px solid lightgrey;
		width: 100px;
	}
}