html {
	background-color: #edf1f2;
	overflow-y: scroll;
	overflow-x: hidden;
}
.App {
	font-weight: bold;
	background-color: #edf1f2;
	color: rgb(26, 26, 26);
	.container {
		width: 95%;
	}
}
div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
h1, h2 {
	text-shadow: 1px 1px 1px rgb(26, 26, 26),
	1px -1px 1px rgb(26, 26, 26),
	-1px 1px 1px rgb(26, 26, 26), 
	-1px -1px 1px rgb(26, 26, 26);
	width: 100%;
	text-align: center;
}
h1 {
	color: #edf1f2;
	position: relative;
	top: 0;
	margin-top: -75px;
	padding-bottom: 25px;
}
h2 {
	color: #ffffe4;
}
button {
	border-radius: 5px;
	margin: 1%;
	border: 1px solid #4378b0;
	background-color: #ffffe4;
	box-shadow: 1px 1px 3px #626d81,
	1px -1px 3px #626d81,
	-1px 1px 3px #626d81,
	-1px -1px 3px #626d81;
}
.skyBanner {
	width: 100vw;
	height: 100px;
	object-fit: cover;
}
.forecastsContainer, .chartsContainer, .newsContainer {
	background-color: #626d8195;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #626d814f,
	1px -1px 3px #626d814f,
	-1px 1px 3px #626d814f,
	-1px -1px 3px #626d814f;
	padding: 0 2%;
	margin: 1% 0;
	align-items: space-around;

}
.chartContainer {
	width: 90%;
	height: 50vh;
	margin: auto;
	background-color: #edf1f2;
	border-radius: 10px;
	border: 2px solid #437ebd;
	box-shadow: 1px 1px 10px #626d81,
	1px -1px 10px #626d81,
	-1px 1px 10px #626d81,
	-1px -1px 10px #626d81;
	margin: 1% 0;
}
.imgContainer {
	display: flex;
	justify-content: center;
}
.weatherDisplay, .newsArticles {
	overflow-x: scroll;
	scrollbar-width: hidden;
	justify-content: start;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #225387;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #114071;
}
.weatherDisplay, .newsArticles {
	flex-direction: row;
	background-color: #b0ceef;
	border-radius: 10px;
	border: 2px solid #437ebd;
	box-shadow: 1px 1px 10px #626d81,
	1px -1px 10px #626d81,
	-1px 1px 10px #626d81,
	-1px -1px 10px #626d81;
	margin: 1% 0;
}
.newsArticles {
	background-color: #edf1f2;
}
.articleContainer:nth-child(2n) {
	background-color: #ffffe4;
}
.articleContainer:hover {
	background-color: #84b7ed;
}
.hourContainer, .dayContainer {
	padding: 1rem;
}
.dayContainer0, .hourContainer0 {
	background-color: #84b7ed;
}
.dayName {
	text-align: center;
	color: rgb(82, 82, 82);
}
.temps {
	flex-direction: row;
	justify-content: space-between;
}
.tempMin {
	color: rgb(82, 82, 82);
	text-align: center;
}
.tempMax {
	color: rgb(41, 41, 41);
	text-align: center;
}
.description, .wind, .dewPoint, .humid {
	color: rgb(82, 82, 82);
	text-align: center;
}
.dewPoint, .humid {
	font-size: 0.5rem;
}
a {
	color: #0a335f;
	text-decoration: none;
}
a:hover {
	color: rgb(227, 248, 255);
	text-shadow: 1px 1px 1px #0a335f,
	-1px 1px 1px #0a335f,
	1px -1px 1px #0a335f,
	-1px -1px 1px #0a335f;
}
.articleContainer {
	width: 200px;
	padding: 3%;
}
.title {
	height: 21rem;
	justify-content: space-between;
	img {
		width: 190px;
		height: fit-content;
	}
	h3 {
		overflow: hidden;
		height: 10rem;
	}
}
.content {
	overflow: hidden;
	height: 15rem;
}

@media only screen and (min-width: 800px) {
	.App{
		width: 98%;
		margin: auto;
	}
	.App .container {
		width: 90%;
	}
}
@media only screen and (min-width: 1000px) {
	.App{
		width: 98%;
		margin: auto;
		.container {
			width: 900px;
		}
	}
}
@media only screen and (max-width: 600px) {
	.App {
		height: auto;
		height: auto;
	}
	.weatherDisplay {
		flex-direction: row;
	}
	.hourContainer, .dayContainer {
		border: 1px solid lightgrey;
		width: 100px;
	}
}