.App {
	display: flex;
	/* height: 100vh; */
	/* width: 100vw; */
	font-weight: bold;
	flex-direction: column;
}
div {
	align-items: center;
	justify-content: center;
}
img {
	height: 100px;
	width: fit-content;
}
.weatherDisplay, .newsArticles {
	display: flex;
	flex-direction: row;
	border: 1px solid lightgray;
}
.dayContainer {
	padding: 1rem;
}
.dayContainer0 {
	background-color: lightgray;
}
.dayName {
	text-align: center;
	color: gray;
}
.temps {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.tempMin {
	color: gray;
}
.tempMax {
	color: rgb(41, 41, 41);
}
.description, .wind, .dewPoint, .humid {
	color: grey;
	text-align: center;
}
.dewPoint, .humid {
	font-size: 0.5rem;
}

.newsArticles {
	/* flex-direction: row; */
	flex-wrap: wrap;
}

p {
	width: 100%;
}

.articleContainer {
	width: 17%;
	padding: 1%;
	border: 1px solid lightgray;
}

.title {
	height: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title h2 {
	overflow: hidden;
	height: 10rem;
}

.title h2::after {
	content: '..';
}

.content {
	overflow: hidden;
	height: 15rem;
}

@media only screen and (max-width: 600px) {
	.App {
		height: auto;
		height: auto;
	}
	.weatherDisplay {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
}